#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

h4 {
    text-align: center;
}

main {
    padding-bottom: 70px;
}

.content {
    padding-top: 120px;
}

.div_rose {
  margin-bottom: 20px; /* Espace sous chaque div */
  padding: 10px;
  background-color: #faf4e7;
}

#search_result {
    display: none;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
#map {
  height: 400px;   /* ou la taille que tu souhaites */
  width: 100%;     /* ou une largeur fixe */
  border-radius: 5%;
}
 body {
  background-color: #0c0f11;
  padding-top: 100px;
}

#header {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1030;
  width: auto;
}

/* NAVBAR ÉLARGIE avec largeur explicite */
.navbar {
  background-color: #1a1f23;
  border-radius: 50px;
  padding: 4px 30px;
  font-family: 'Poppins', sans-serif;
  width: 50vw;           /* largeur relative à l’écran */
  max-width: 650px;     /* limite max */
  min-height: 60px;
}

.navbar-brand img {
  max-height: 36px;
}

#navbarNav .nav-link {
  font-size: 0.95rem;
  color: #613f17 !important;
  padding: 6px 20px;
  border-radius: 30px;
  transition: background-color 0.3s, color 0.3s;
}

#navbarNav .nav-link:hover {
  background-color: #f4c542;
  color: #000 !important;
}

.navbar-brand {
  margin-left: 20px; /* ajuste selon ce que tu veux, ex : 20px */
}

/* Responsive */
@media (max-width: 768px) {
  #navbarNav .navbar-nav {
    flex-direction: column;
    align-items: center;
  }

  .navbar {
    width: 95vw;
  }
}
