#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.content {
    padding-top: 120px;
}

#search_result {
    display: none;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}